<div class="html-detail">
  <div class="header-detail">

    <img src="{{stack.image}}" class="image-detail" alt="Stack Image">
    <div class="shadow">

      <div class="info-detail">
        <h1>{{stack.title}}</h1>
        <h4>Time:{{stack.timeInHours}}h | Category: {{stack.category}} | <i class="fas fa-user"></i>{{stack.createdBy}}
        </h4>
      </div>
    </div>
  </div>
  <div class="body-detail">
    <div class="description-detail">
      <p>{{stack.description}}</p>
    </div>
    <div class="steps-detail">
      {{#each stack.steps}}
      <div class="one-step">
        <div class="step-number-detail">
          <h3>{{order}}</h3>
        </div>
        <div class="step-desc-detail">
          <h2>{{title}}</h2>
          <p>{{instruction}}</p>
        </div>
        <div class="step-source-detail">
          {{#is hasVideo true}}
          <div class="step-youtube">
            <iframe src="{{url}}" frameborder="0" class="youtube-embed"></iframe>
          </div>
          {{/is}}
          {{#is hasMusic true}}
          <div class="step-spotify">

            <iframe class="spotify-embed" src="{{url}}" frameborder="0" allowtransparency="true"
              allow="encrypted-media">
            </iframe>
          </div>
          {{/is}}
          {{#is hasBook true}}
          <div class="step-googlebook">
            <div class="google-img"><a href="{{url}}"><img src="{{bookImage}}" alt="METE EL ENLACE AL LIBRO, BRO">
              </a></div>
            <div class="google-desc">
              <div>
                <h2 class="book-title">{{bookName}}</h2>
                <h3 class="book-author">{{bookAuthor}}</h3>
              </div>
              <a href="{{url}}">Ver preview en google books</a>
            </div>
          </div>
          {{/is}}
          {{#is hasPdf true}}
          <div class="step-doc">
            <div class="doc-img"><a href="{{url}}"><img src="/images/pdf.png" alt="METE EL ENLACE AL LIBRO, BRO">
              </a></div>
            <div class="doc-desc">
              <div>
                <h2 class="doc-title">{{docName}}</h2>
              </div>
              <a href="{{url}}">Descargar</a>
            </div>
          </div>
          {{/is}}
          {{#is hasLink true}}
          <div class="google-desc">
            <a href="{{url}}">{{url}}</a>
          </div>
          {{/is}}
          {{!-- TIME TO INSERT ONE DAY <div class="time-step-detail">
        <p><div class="bar-detail"> </div>{{timeInMinutes}}m</p>
      </div> --}}
        </div>
        
      </div>
    
    {{/each}}
    </div>
      <div class="last-div">
        <h1>CONGRATULATIONS! YOU HAVE APROVECHADO THIS TIME YOUR WAY. KEEP MOVING! 🚀</h1>
      </div>
  </div>
</div>